VITE_SUPABASE_URL=https://seu-projeto.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.sua-chave-anon-aqui
VITE_ADMIN_USERNAME=
VITE_ADMIN_PASSWORD=
VITE_SUPABASE_ADMIN_PROJECTS_BUCKET=admin-projects
